.hangman {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  svg {
    width: 200px;
    height: 250px;
  }
  
  .line {
    stroke: black;
    stroke-width: 4;
  }
  
  .hidden {
    display: none;
  }