*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bg-yellow{
    background-color: yellow;
    font-size: 2rem;
    width:30px;
    height: 40px;
    text-align: center;
    padding: 3px 0 0 0 ;
}

.bdr-bottom{
    border-bottom: 3px solid green;
}

#word{
    display: flex;
    gap: 10px;
    justify-content:center;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto ;
}

.key{
    width: 40px;
    height: 40px;
    background-color: pink;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.key:hover {
    background-color: fuchsia;
    cursor: pointer;
  }

#keyboard{
    width: 43%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 200px;
    height: 150px;
}

.disable-button{
    background-color: blueviolet;
    transition: background-color 0.75s ease;
}

#restart{
    visibility: hidden;
    border: 3px yellow solid;
    background-color:  pink;  
    padding: 3px;
}

#restart:hover {
    background-color: fuchsia;
    cursor: pointer;
  }

#hangman{
    width: 100px;
    height: 110px;
}

.hidden{
    display: none;
}